*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}
.common-width{
    max-width: 100%;
    margin: 0 auto;
}

.topHead{
    height: 30px;
    width: 100%;
    background-color: #d4b112;
    
}
.top-head{
    background-color: #1c82fA;
    width: 100%;
    height: 64px;
    padding: 20 10px;
    color: white;
}
.list-bar{
    display: flex;
    list-style: none;
    gap: 32px;
}
.link{
    color: white;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
    width: 100%;
    
}
/* hero part*/
.hero-part{
    display: flex;
    justify-content: space-between;
    padding: 110px 140px;
    width: 100%;
}
.hero-image{
    border-radius: 16px;
}
.hero-text{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 32px;
    line-height: 76px;
    letter-spacing: -1.2px;
}
.heading-paragraph{
    font-size: 18px;
    margin-bottom: 20px;
    color: #525252;
    line-height: 28px;
}
.heading-button{
    font-size: 18px;
    padding: 16px 28px;
    background-color: #1c82fA;
    border: none;
    color: white;
    font-weight: 600;
}
.hero-content{
    width: 525px;
}
.bg-blue{
    background-color: #1c82fA;
}

.about-part{
    display: flex;
    justify-content: space-between;
    /* padding: 110px 140px; */
    width: 100%;
}

.about-content{
    width: 525px;
}

.right-to-left{
    flex-direction: row-reverse;
}
.contact-button{
    background-color: white;
    border-color: white;
    color: #1c82fA;
    border-radius: 8px;
}
.card-container{
    display: flex;
    gap: 64px;
    margin: 0 140px;

}
.card{
    background-color: #1c82fA;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 32px;
    gap: 18px;
    border-radius: 16px;
}
.card > button{
    font-weight: 600;
    font-size: 18px;
    background-color: white;
    color: #1c82fA;
    border-radius: 8px;
    padding: 0 28px;
    height: 44px;
}
.about-us-section{
    padding: 140px 0;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #1c82fA;
    color: white;
    padding: 80px 140px;
}
.first-column >h2 {
margin-bottom: 24px;
}
.first-column >p {
   width: 415px; 
}
.other-column >h2{
    margin-bottom: 16px;
}
.other-column >ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px
    ;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 56px;
}